:root{
	--primary-green: #679210;
	--hover-green: #76A713;
	--primary-white: #FFFFFF;
	--primary-red: #FF0000;
	--primary-light-green: #d5e5af;
	font-family: sans-serif;
	--primary-light-green-2: #efffcf;
}

